* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    border: 1px solid #000;
}

.registration-form {
    margin-bottom: 15px;
}

a {
    color: #0081D5;
}

a:hover {
    color: rgb(47, 255, 47);
}

h3 {
    background: #0081D5;
    color: white;
    margin: 1px 1px 1px 1px;
}

p,
label {
    margin-left: 8px;
}

input {
    margin-left: 10px;
    flex: 1;
}

form {
    min-width: 800px;
    min-height: 200px;
    flex-direction: column;
    align-self: center;
    padding: 20px 20px;
    box-shadow: 0 5px 8px 0 rgba(51, 62, 73, 0.9);
}

form .registration-form .input-box {
    margin: 10px 0 6px 0;
    width: calc(100% / 2 - 10px);
}

form .registration-form-1 .input-box {
    margin: 10px 0 6px 0;
    width: 75vh;
}

form .registration-form-1 {
    margin-bottom: 10px;
    display: flex;
}

form .registration-form-2 .input-box {
    margin: 10px 0 6px 0;
    width: calc(100% / 2 - 10px);
}

form .registration-form-2 p,
span {
    margin-left: 8px;
}

button {
    border: 1px solid #0081D5;
    background: white;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 25px;
    color: #0081D5;
    cursor: pointer;
    transition: all 0.4s linear;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover,
button:focus {
    background: #005C99;
    color: white;
}

button:active {
    background: #003659;
}
